<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости ИИ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <canvas id="neuralNetworkCanvas"></canvas>
    <div class="content">
        <header>
            <h1>VIA 2525</h1>
            <div class="wave-text">AGZAM ASKAR</div>
        </header>
        <div class="container">
            <div id="news-cards"></div>
            <div id="expanded-news" class="hidden">
                <h2 id="expanded-title"></h2>
                <div class="expanded-content">
                    <div class="text-content">
                        <p id="expanded-description"></p>
                    </div>
                    <div class="visual-content">
                        <img id="expanded-image" src="/placeholder.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script src="{{ url_for('static', filename='neural-network.js') }}"></script>
     <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

